
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    /*background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */

#splash{
	top:0%;
	left:0%;
	width:100vw;
	height:100vh;
	z-index:99;
	background-image:url(../img/splash.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/*main viewport*/
.app {
	position:absolute;
	height:100vh;
	width:100vw;
	background-color:#333;
}

/*icon resize*/
.glyphicon-menu-hamburger {
  font-size: 7vw;
}

.glyphicon-trash {
  font-size: 5.5vw;
}

.savelink{
	position:absolute;
	bottom:0%;
	left:0%;
	text-align:center;
	font-size:5.5vw;
	height:13vh;
	width:100vw;
	z-index:15;
	display:none;
}

.link_list{
	position:fixed;
	z-index:30;
	color:#CCC;
	font-weight:normal;
	font-size:5.5vw;
	background-color:rgba(0,0,0,0.8);
	top:0;
	left:0;
	width:100vw;
	min-height:100vh;
	text-align:right;
	display:none;
	padding:7vw;
}

.link_wrapper{
	width:70vw;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

/*fixed buttons*/
.persist_btn {
	position:fixed;
	z-index::11;
	bottom:5%;
	left:50%;
	text-align:center;
	transform: translate(-50%,0);
	padding:7px;
	color:#333;
}

/*top 45% of the screen holds the message displayed alongside the button*/
.message{
	position:absolute;
	top:0%;
	left:0%;
	height:45vh;
	width:100vw;
	padding:15vw 3vw 0vw 3vw;
	text-align:center;
	font-size:7.5vw;
	line-height:12vw;
	color:#F2F4F4;
}

.main_message{
	font-size:10.5vw;
}

/*the next 45% holds the button itself*/
.the_button_wrapper{
	position:absolute;
	left:50%;
	top:45vh;
	height:45vh;
	width:80vw;
	text-align:center;
	transform:translate(-50%,0%);
	font-size:10vw;
}

.the_button{
	height:37vh;
	width:60vw;	
}

.loading{
	display:none;
}

.loader_text{
	font-size:6vw;
	color:#F2F4F4;
}

/*side menu*/
.side_menu{
	position:fixed;
	z-index:20;
	background-color:#AAA;
	color:#202020;
	height:100vh;
	width:70vw;
	left:-75vw;
	text-align:center;
	font-size:5vw;
	font-weight:bold;
	padding-top:20px;
	padding-bottom:20px;
	box-shadow:4px 4px 15px #000;
}

.aboutapp{
	position:fixed;
	z-index:30;
	color:#CCC;
	font-weight:bold;
	background-color:rgba(0,0,0,0.7);
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	text-align:center;
	display:none;
}

.about_message{
	position:fixed;
	top:50%;
	left:50%;
    transform: translate(-50%,-50%);
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
 
}

.togglelist{
	padding:0vh 2vw 0vh 2vw;
	text-align:right;
	font-weight:normal;
}

.toast{
	background-color:#000;
	color:#FFF;
	position:fixed;
	z-index:50;
	padding:5px;
	display:none;
	bottom:5%;
	text-align:center;
	left:50%;
	transform: translate(-50%, 0);
	
}

/*wrap around slider*/
.switch{
  position:relative;
  display:inline-block;
  top:0vh;
  width:15vw;
  height:5vh;
}

/* Hide default HTML checkbox */
.switch input {
	display:none;
}

/* The slider */
.slider{
  cursor: pointer;
  height:5vh;
  width:15vw;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 6.8vw;
  left: 1vw;
  bottom: 0.5vh;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#C91818;
}

input:focus + .slider {
  box-shadow: 0 0 1px #C91818;
}

input:checked + .slider:before {
  -webkit-transform: translateX(6.8vw);
  -ms-transform: translateX(6.8vw);
  transform: translateX(6.8vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5vw;
}

.slider.round:before {
  border-radius: 50%;
}